body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 219, 219);
    margin: 0;
    
    
    
}
nav {
    display: flex;
    background-color: rgb(39, 37, 37);
    color: rgb(226, 219, 219);
    font-size: larger;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}
nav div {
    display: flex;    
    flex-basis: 33%;
    text-align: center;
    justify-content: space-around;

}
.opcoes {
    flex-basis: 33%;
    gap: 5px;
}
.opcoes div {
    background-color:   rgb(77, 74, 74);
    border: 3px solid rgb(226, 219, 219);
    margin: 2%;    
}
header {
    display: flex;
    justify-content: space-around;
    height: 300px;
}
header div {
    
    background-color: rgb(247, 243, 243);
    text-align: center;
    border: 2px double grey;    
    flex-basis: 27%;
    padding-top: 2%;

}
img {
    border-radius: 100%;  

}
.nome {
    margin-top: 45px;   
    
}
.prof {
    margin-top: 40px;    
}
main {
    height: 400px;
}
footer {
    background-color: rgb(39, 37, 37);
    display: flex;
    justify-content: space-around;
    text-align: left;
    bottom: 50%;
    color: white;

}
footer div {
    border: 1px solid red;    
}
.titulo {
    
}